{% extends "tmpl.html" %}

{% block title %}About - Qcumber{% endblock %}

{% block contents %}
<h1>About Qcumber</h1>
<h3>The simple (unofficial) course catalog for Queen's students</h3>

<p>
  The original Qcumber was made with passion by a former Queen's undergraduate student named <a href="https://twitter.com/QuixoticChris">Chris</a>, with the help and support of his friends, and the nudging of one <a href="https://twitter.com/xxbanner">Nissi</a>.
</p>

<p>
  The team has now expanded to include <a href="http://cmetcalfe.ca">Carey</a>, <a href="https://github.com/uniphil">Phil</a>, <a href="https://github.com/Graham42">Graham</a> and <a href="https://github.com/mystor">Michael</a>.
</p>

<p>
  Qcumber hopes to fill the severe lack of course-finding tools at Queen's University by making it much easier and faster to browse courses and sections.
</p>

<p>
  Qcumber is Open-Source, which means that we are always looking for new contributors to come and help us out. The code lives under the <a href="https://github.com/Queens-Hacks">Queens-Hacks</a> organization on Github, and is split into the <a href="https://github.com/Queens-Hacks/qcumber-scraper">scraper</a>, <a href="https://github.com/Queens-Hacks/qcumber-data">data</a> and <a href="https://github.com/Queens-Hacks/qcumber-frontend">frontend</a>.
</p>

<p>
  If you are interested in helping out in any way, you can drop us an email at <a href="mailto:team@qcumber.ca">team@qcumber.ca</a>, or open a <a href="https://github.com/Queens-Hacks/qcumber-frontend/issues">issue or pull request</a> on Github.
</p>
{% endblock %}

