{% extends "tmpl.html" %}

{% block title %}Contact - Qcumber{% endblock %}

{% block contents %}
<h1>Contact Us</h1>

<p>
  We are always interested in hearing from you! Feedback, bugs, praise, whatever! Just know that it may take us a while to respond.
</p>

<p>
  You can reach us by email at <a href="mailto:feedback@qcumber.ca">feedback@qcumber.ca</a>. We are also on <a href="http://facebook.com/QcumberQueens">Facebook</a> and <a href="http://twitter.com/QcumberQueens">Twitter</a>!
</p>

<p>
  If you are interested in contributing to the Qcumber project, good news! It's Open Source! Check out the <a href="/about">About</a> page for more information about contributing.
</p>
{% endblock %}
