
/* At some point there will be awesome styles here */

* {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

/******************
 * Navigation Bar *
 ******************/
header.navbar {
  background-color: #eee;

  height: 60px;

  .wrapper {
    width: 100%;
    max-width: 700px;
    margin: auto;
  }

  .query-wrapper {
    overflow: hidden;
  }

  .query-text {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .search-button {
    float: right;
    width: 90px;
    height: 40px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #329a3f;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  input {
    font-size: 22px;
    margin-top: 10px;
    border: 0;
    border-bottom: 2px solid #2c8737;
    -webkit-box-shadow: inset 0 -2px #2c8737;
    box-shadow: inset 0 -2px #2c8737;
    -webkit-appearance: none;
  }

  .tinylogo {
    display: block;
    width: 160px;
    height: 50px;
    float: left;
    margin: 5px;
    background-image: url('../images/qcumber-logo-tiny.png');
    background-size: Auto 50px;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 640px) {
  header.navbar {
    height: auto;
    padding: 5px;

    .tinylogo {
      float: none;
      margin: 0px auto;
      width: 96px;
      height: 30px;
      background-size: Auto 30px;
    }

    .search-button {
      display: none;
    }

    .query-text {
      // Center the text
      text-align: center;
      // Add the border back to the rhs
      border-radius: 5px;
    }
  }
}

/*************
 * HOME PAGE *
 *************/

.biglogo {
  text-align: center;

  img {
    width: 90%;
    max-width: 700px;
  }
}

.slogan {
  text-align: center;
  font-size: 26px;
  font-weight: normal;

  @media screen and (max-width: 640px) {
    font-size: 20px;
  }
}

.catalog-scan {
  display: block;
  text-align: center;
  padding: 0px 30px;

  li {
    display: inline-block;
    margin: 2px;
  }

  a {
    text-decoration: none;
    color: blue;

    &:visited {
      color: blue;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.catalog {
  h3 {
    text-align: center;
  }

  ul {
    max-width: 800px;
    margin: 0px auto;
    padding-left: 10px;

    li {
      display: block;
      margin-bottom: 5px;

      a {
        text-decoration: none;
        color: blue;

        &:visited {
          color: blue;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

}

.fb-like-wrapper {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-align: center;
}
