
/* At some point there will be awesome styles here */

$link-color: #369941;
$link-hover-color: #226029;

$max-page-width: 800px;

* {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0px;
}

a {
  &:link {
    color: $link-color;
    text-decoration: none;
  }

  &[href]:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }

  &:visited {
    color: $link-color;
  }
}

.contents {
  max-width: $max-page-width;
  width: 100%;
  margin: 0px auto;
}

/******************
 * Navigation Bar *
 ******************/
header.navbar {
  background-color: #eee;
  border-bottom: 2px solid #bbb;

  height: 60px;

  .wrapper {
    width: 100%;
    max-width: 700px;
    margin: auto;
  }

  .query-wrapper {
    overflow: hidden;
  }

  .query-text {
    width: 100%;
    height: 40px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    border: 0;
    border-bottom: 2px solid #ddd;
    -webkit-box-shadow: inset 0 -2px #ddd;
    box-shadow: inset 0 -2px #ddd;
  }

  .search-button {
    float: right;
    width: 90px;
    height: 40px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #329a3f;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border: 0;
    border-bottom: 2px solid #2c8737;
    -webkit-box-shadow: inset 0 -2px #2c8737;
    box-shadow: inset 0 -2px #2c8737;
  }

  input {
    font-size: 22px;
    margin-top: 10px;
    -webkit-appearance: none;
  }

  .tinylogo {
    display: block;
    width: 160px;
    height: 50px;
    float: left;
    margin: 5px;
    background-image: url('../images/qcumber-logo-tiny.png');
    background-size: Auto 50px;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 640px) {
  header.navbar {
    height: auto;
    padding: 5px;

    .tinylogo {
      float: none;
      margin: 0px auto;
      width: 96px;
      height: 30px;
      background-size: Auto 30px;
    }

    .search-button {
      display: none;
    }

    .query-text {
      // Center the text
      text-align: center;
      // Add the border back to the rhs
      border-radius: 5px;
    }
  }
}

/*************
 * Home Page *
 *************/

.biglogo {
  text-align: center;

  img {
    width: 90%;
    max-width: 700px;
  }
}

.slogan {
  text-align: center;
  font-size: 26px;
  font-weight: normal;

  margin-bottom: 10px;

  @media screen and (max-width: 640px) {
    font-size: 20px;
  }
}

.menu-options {
  display: block;
  text-align: center;
  padding: 0px 10px;

  li {
    display: inline-block;
    margin: 2px;
  }
}

.catalog-scan {
  display: block;
  text-align: center;
  padding: 0px 30px;

  li {
    display: inline-block;
    margin: 2px;
  }
}

.catalog {
  max-width: 500px;
  margin: 0px auto;

  h3.letter {
    display: block;
    margin: 0px auto;
    width: 0px;
  }

  ul {
    padding-left: 10px;

    li {
      display: block;
      margin-bottom: 5px;
    }
  }

  .top-link {
    font-size: 70%;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
  }

}

.fb-like-wrapper {
  max-width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  text-align: center;
}

/************************
 * Course listing Pages *
 ************************/

.course-listing {
  width: 100%;
  border-collapse: collapse;
  
  tr {
    background-color: #eee;
    border-bottom: 1px solid #ccc;

    &.unavaliable {
      color: #aaa;

      a {
        color: #aaa;
      }
    }

    &:hover {
      background-color: #ddd;
    }

    &:first-child {
      td:first-child {
        border-top-left-radius: 5px;
      }
      td:last-child {
        border-top-right-radius: 5px;
      }
    }

    &:last-child {
      td:first-child {
        border-bottom-left-radius: 5px;
      }
      td:last-child {
        border-bottom-right-radius: 5px;
      }
    }

  }

  td {
    margin: 0px;
    padding: 5px;
  }
}

.season-tag {
  font-family: 'Droid Sans', sans-serif;
  opacity: 0.6;
  filter: alpha(opacity=60);

  position: relative;
  display: inline-block;
  padding: 0 6px 0 20px;
  height: 14px;
  line-height: 15px;
  font-size: 9px;
  vertical-align: middle;
  font-weight: bolc;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;


  &.season-Fall {
    border: 1px solid #c67f54;
    background-color: #c67f54;

    &:before {
      background-position: 1px 0px;
    }
  }

  &.season-Winter {
    border: 1px solid #7668be;
    background-color: #796bbf;

    &:before {
      background-position: 1px -24px;
    }
  }

  &.season-Summer {
    border: 1px solid #64ac6d;
    background-color: #64ac6d;

    &:before {
      background-position: 1px -48px;
    }
  }

  &:before {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-image: url('../images/seasons.png');
    background-repeat: no-repeat;
    content: ' ';
  }
}

a:hover .season-tag {
  opacity: 1;
  filter: alpha(opacity=100)
}

/***************
 * Course Page *
 ***************/
.extra-course-info {
  display: block;
  color: #ccc;
  margin-left: 5px;
  margin-top: 15px;
  font-size: 100%;
}

h2.course-name {
  margin-top: 10px;
  margin-left: 5px;

  @media screen and (max-width: 640px) {
    small {
      display: block;
    }
  }
}

.extra-info {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  font-size: 80%;
}

.textbooks {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;

  table {
    width: 100%;
    th {
      text-align: left;
    }
  }
}

.term {
  border: 1px solid #ddd;
  // background-color: #eee;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  
  h4 {
    margin: 0px 0px 10px;
  }
}

.section-list {
  margin: 0px;
  padding: 0px;

  .section {
    display: block;
    background-color: #eee;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0px;
    margin-top: 5px;

    table {
      width: 100%;
    }

    td:first-child {
      width: 33%;
    }
    
    td:nth-child(2) {
      // min-width:20%;
    }

    td:last-child {
    }

    .instructors {
      ul {
        margin: 0px;
        padding: 0px;
      }
      
      li {
        display: inline;

        &:before {
          content: ', ';
        }

        &:first-child:before {
          content: '';
        }
      }
    }

    .location {
      text-align: right;
    }

    header {
      font-weight: bold;
      small {
        font-weight: normal;
      }
    }
  }
}


/*****************
 * Page headings *
 *****************/
h1, h2, h3, h4, h5 {
  margin-left: 5px;
}

h4 {
  margin-bottom: 10px;

  small {
    font-weight: normal;
  }
}

p {
  margin-left: 5px;
  margin-right: 5px;
}

footer.nav-footer {
  margin-top: 10px;
  border-top: 1px solid #ddd;
}
