
{% extends "tmpl.html" %}

{% block title %}{{ course.subject }} {{ course.number }} - Qcumber{% endblock %}

{% block contents %}
<h3 class="pagetitle">{{ course.subject }} {{ course.number }} - {{ course.title }}</h3>
<p>Back to <a href="/catalog/{{ subject.abbreviation }}">{{ subject.title }}</a></p>

<h4>Description</h4>
<p>{{ course.description }}</p>

<h4>Enrollment Requirements</h4>
<p>{{ course.enrollment_requirement }}</p>

<h4>Units</h4>
<p>{{ course.units }}</p>

<h4>Textbooks</h4>
<ul>
  {% for textbook in textbooks %}
  <li><a href="{{ textbook.listing_url }}">{{ textbook.title }}</a> {% if textbook.required %}(required){% else %}(optional){% endif %}</li>
  {% endfor %}
</ul>

<h4>Sections</h4>
{% for term, sections in terms.iteritems() %}
<div class="term">
<h5>{{ term }}</h5>
<ul>
  {% for section in sections %}
  <li>
    <header>{{ section.type }}</header>
    <table>
      {% for class in section.classes %}
      <tr>
        <td>{{ class.day_of_week | dayofweek }} {{ class.start_time | timeformat }} - {{ class.end_time | timeformat }}</td>
        <td>
          <ul>
          {% for instructor in class.instructors %}
            <li>{{ instructor }}</li>
          {% endfor %}
          </ul>
        </td>
        <td>{{ class.location }}</td>
        <td>{{ class.term_start | dayformat }} - {{ class.term_end | dayformat }}</td>
      </tr>
      {% endfor %}
    </table>
  </li>
  {% endfor %}
</ul>
</div>
{% endfor %}
{% endblock %}
