{% extends "tmpl.html" %}

{% block title %}Timetable - Qcumber{% endblock %}

{% block contents %}
<div class="timetable-wrapper">
  <div class="times">
    <h2 class="day-label">&nbsp;</h2>
    {% for i in range(15) %}
    <div class="time">{{ ((i + 6) % 12) + 1 }}</div>
    {% endfor %}
  </div>
  {% for i in range(5) %}
  <div class="day">
    <h2 class="day-label">{{ (i + 1) | dayofweek }}</h2>
    <div class="day-sections" id="day-{{ (i + 1) }}"></div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% block morejs %}<script src="{{ url_for('static', filename='js/timetable.js') }}"></script>{% endblock %}
