
<div class="refine-item">
  <label for="refine-subject">Subject Code:</label>
  <input type="text" id="refine-subject">
</div>

<div class="refine-item">
  <label for="refine-course">Course Number:</label>
  <input type="text" id="refine-course">
</div>

<div class="refine-item">
  <label for="refine-units">Units:</label>
  <input type="text" id="refine-units">
</div>

<div class="refine-item">
  <label>Seasons:</label><br>
  <input type="checkbox" id="refine-fall" checked> <label for="refine-fall" class="season-tag season-Fall">Fall</label>
  <input type="checkbox" id="refine-winter" checked> <label for="refine-winter" class="season-tag season-Winter">Winter</label>
  <input type="checkbox" id="refine-summer" checked> <label for="refine-summer" class="season-tag season-Summer">Summer</label>
  <input type="checkbox" id="refine-unoffered" checked> <label for="refine-unoffered" class="season-tag season-Unoffered">Unoffered</label>
</div>

<div class="refine-item">
  <label>Career:</label><br>
  <input type="checkbox" id="refine-undergraduate" checked> <label for="refine-undergraduate" class="cb-label">Undergraduate</label>
  <input type="checkbox" id="refine-graduate" checked> <label for="refine-graduate" class="cb-label">Graduate</label>
  <input type="checkbox" id="refine-distance" checked> <label for="refine-distance" class="cb-label">Distance</label>
  <input type="checkbox" id="refine-nonCredit" checked> <label for="refine-nonCredit" class="cb-label">Non-Credit</label>
</div>

